extends ../layout

block content
  .container
  
  body
    #container
      .select
        label(for="audioSource") Audio source: 
        select#audioSource
      .select
        label(for="videoSource") Video source: 
        select#videoSource
      video(muted="", autoplay="")
      script(type='text/javascript', src='/javascripts/video_script.js')
      
      p This demo requires Chrome 30 or later.
